@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .scrollbar-hide {
      -ms-overflow-style: none; 
      scrollbar-width: none;    
    }
  
    .scrollbar-hide::-webkit-scrollbar {
      display: none;  
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  .backdrop-blur-sm {
    backdrop-filter: blur(4px);
  }
button {
    @apply text-base transition-colors duration-300 ease-in-out;
}

a {
    @apply transition-colors duration-300 ease-in-out;
}

a:hover {
    @apply text-green-500;
}

nav {
    @apply bg-black bg-opacity-50 text-white;
}

/* Mobile Menu Styles */
#mobileMenu .dropdown > div {
    @apply absolute left-full top-0;
}

#mobileMenu a {
    @apply p-2 text-white no-underline;
}

#mobileMenu a:hover {
    @apply text-green-500;
}

#mobileMenu .dropdown {
    @apply block relative left-0 mt-1 text-white p-2 rounded-md w-full;
}

#mobileMenu .dropdown a {
    @apply text-white p-2 whitespace-nowrap bg-gray-800 transition-colors duration-300 ease-in-out;
}

/* Overlay */
.overlay {
    @apply absolute inset-0 bg-black bg-opacity-50;
}

/* Content Section */
.content {
    @apply relative z-10 flex flex-row max-w-screen-xl w-full p-4 text-white;
}
